@page
@model IndexModel
@{
    //ViewData is used to store the title of the page
    ViewData["Title"] = "Startsida";
}


<!-- The title of the page is displayed using ViewData -->
<h1 class="display-6">@ViewData["Title"] - Moment 1</h1>
<p class="h5 lh-lg my-3">Vet inte riktigt vad jag ska skriva på den här sidan så ni får en fin bild på Mount Taranaki på Nya Zeeland istället &#128513</p>
<img class="container-fluid" src="~/mt_taranaki.jpg" alt="mount taranaki">
<img>
