@page
@model MyApp.Namespace.InfoPageModel
@{
}

<h1 class="display-6">Om mig</h1>

<p>Jag heter Beatrice Björn och läser den här kursen ett år senare än vad som var tänkt. <br />
Efter att jag slutfört mitt examensarbete förra året fick jag jobberbjudande på företaget Springtimesoft där jag utförde arbetet. 
Sedan dess har jag på heltid arbetat som webbutvecklare hos Sprintimesoft. <br /><br />
Jag skriver mycket PHP och JavaScript om dagarna och har även lärt mig mycket Bootstrap eftersom det är det ramverk som används för CSS. <br />
Vi arbetar även med ett CMS som heter SilverStripe, skrivet i PHP och utvecklat på Nya Zeeland. Den första releasen (3) släpptes år 2012 och vi håller just nu på att uppdatera olika webbplatser till SilverStripe 5 som släpptes 2023. <br /><br />
Det här har förövrigt varit en väldigt rolig uppgift och jag ser fram emot att lära mig mer om .NET. 
</p>
